---
interface Props {
  smColSpan?: number;
  mdColSpan?: number;
  lgColSpan?: number;
  xlColSpan?: number;
  smRowSpan?: number;
  mdRowSpan?: number;
  lgRowSpan?: number;
  xlRowSpan?: number;
}

const {
  smColSpan = 1,
  mdColSpan = 2,
  lgColSpan = 3,
  xlColSpan = 4,
  smRowSpan = 1,
  mdRowSpan = 2,
  lgRowSpan = 3,
  xlRowSpan = 4,
} = Astro.props;
---

<div
  class=`bg-white shadow-md rounded-3xl col-span-1 row-span-1 sm:col-span-${smColSpan} md:col-span-${mdColSpan} lg:col-span-${lgColSpan} xl:col-span-${xlColSpan} sm:row-span-${smRowSpan} md:row-span-${mdRowSpan} lg:row-span-${lgRowSpan} xl:row-span-${xlRowSpan} p-6`
>
  <slot />
</div>
